In [4]:
import sys
sys.path.append("../")
from plotting import CandlePlot
import pandas as pd
from technical.patterns import apply_patterns

In [5]:
df = pd.read_pickle("../data/GBP_JPY_H1.pkl")

In [6]:
df_an = df[["time", "mid_o", "mid_h","mid_l", "mid_c" ]].copy()

In [7]:
df_an.tail()

                           time    mid_o    mid_h    mid_l    mid_c
59622 2024-12-30 19:00:00+00:00  197.074  197.112  196.911  197.045
59623 2024-12-30 20:00:00+00:00  197.044  197.077  196.729  196.754
59624 2024-12-30 21:00:00+00:00  196.754  196.892  196.688  196.880
59625 2024-12-30 22:00:00+00:00  196.872  196.938  196.786  196.802
59626 2024-12-30 23:00:00+00:00  196.818  197.054  196.772  197.012

In [8]:
df_an = apply_patterns(df_an)

In [11]:
df_an.tail()

,time,mid_o,mid_h,mid_l,mid_c,body_lower,body_upper,body_bottom_perc,body_top_perc,body_perc,...,body_perc_prev_2,HANGING_MAN,SHOOTING_STAR,SPINNING_TOP,MARUBOZU,ENGULFING,TWEEZER_TOP,TWEEZER_BOTTOM,MORNING_STAR,EVENING_STAR
59622,2024-12-30 19:00:00+00:00,197.074,197.112,196.911,197.045,197.045,197.074,66.666667,81.094527,14.427861,...,84.690554,False,False,False,False,False,False,False,False,False
59623,2024-12-30 20:00:00+00:00,197.044,197.077,196.729,196.754,196.754,197.044,7.183908,90.517241,83.333333,...,17.791411,False,False,False,False,False,False,False,False,False
59624,2024-12-30 21:00:00+00:00,196.754,196.892,196.688,196.880,196.754,196.880,32.352941,94.117647,61.764706,...,14.427861,False,False,False,False,False,False,False,False,False
59625,2024-12-30 22:00:00+00:00,196.872,196.938,196.786,196.802,196.802,196.872,10.526316,56.578947,46.052632,...,83.333333,False,False,False,False,False,False,False,False,False
59626,2024-12-30 23:00:00+00:00,196.818,197.054,196.772,197.012,196.818,197.012,16.312057,85.106383,68.794326,...,61.764706,False,False,False,False,True,False,False,False,False

In [9]:
import plotly.graph_objects as go