In [47]:
import yfinance as yf 
import pandas as pd 
import numpy as np 
from pandas.tseries.offsets import DateOffset

In [13]:
df_ = yf.download("AAPL",start="2024-01-01", auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [14]:
df_.xs("AAPL", axis=1, level="Ticker")

Price,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2024-01-02,183.903198,185.639999,188.440002,183.889999,187.149994,82488700
2024-01-03,182.526230,184.250000,185.880005,183.429993,184.220001,58414500
2024-01-04,180.208145,181.910004,183.089996,180.880005,182.149994,71983600
2024-01-05,179.484940,181.179993,182.759995,180.169998,181.990005,62379700
2024-01-08,183.823975,185.559998,185.600006,181.500000,182.089996,59144500
...,...,...,...,...,...,...
2025-12-02,286.190002,286.190002,287.399994,282.630005,283.000000,53669500
2025-12-03,284.149994,284.149994,288.619995,283.299988,286.200012,43538700
2025-12-04,280.700012,280.700012,284.730011,278.589996,284.100006,43989100
2025-12-05,278.779999,278.779999,281.140015,278.049988,280.540009,47244000
2025-12-08,277.890015,277.890015,279.669312,276.149994,278.168488,35028165

In [32]:
vix_df = yf.download("^VIX", start="1990-01-01", auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [33]:
vix_df = vix_df.xs("^VIX", axis=1, level="Ticker")

In [34]:
vix_df

Price       Adj Close      Close       High        Low       Open  Volume
Date
1990-01-02  17.240000  17.240000  17.240000  17.240000  17.240000       0
1990-01-03  18.190001  18.190001  18.190001  18.190001  18.190001       0
1990-01-04  19.219999  19.219999  19.219999  19.219999  19.219999       0
1990-01-05  20.110001  20.110001  20.110001  20.110001  20.110001       0
1990-01-08  20.260000  20.260000  20.260000  20.260000  20.260000       0
...               ...        ...        ...        ...        ...     ...
2025-12-02  16.590000  16.590000  17.309999  16.389999  17.280001       0
2025-12-03  16.080000  16.080000  17.280001  15.930000  16.430000       0
2025-12-04  15.780000  15.780000  16.629999  15.680000  16.230000       0
2025-12-05  15.410000  15.410000  16.180000  15.280000  15.580000       0
2025-12-08  16.660000  16.660000  17.090000  16.100000  16.150000       0

[9051 rows x 6 columns]

In [35]:
vix_df["MA"] = vix_df.Close.rolling("30D").mean()

In [36]:
vix_df

Price,Adj Close,Close,High,Low,Open,Volume,MA
Date,,,,,,,
1990-01-02,17.240000,17.240000,17.240000,17.240000,17.240000,0,17.240000
1990-01-03,18.190001,18.190001,18.190001,18.190001,18.190001,0,17.715000
1990-01-04,19.219999,19.219999,19.219999,19.219999,19.219999,0,18.216667
1990-01-05,20.110001,20.110001,20.110001,20.110001,20.110001,0,18.690000
1990-01-08,20.260000,20.260000,20.260000,20.260000,20.260000,0,19.004000
...,...,...,...,...,...,...,...
2025-12-02,16.590000,16.590000,17.309999,16.389999,17.280001,0,19.619524
2025-12-03,16.080000,16.080000,17.280001,15.930000,16.430000,0,19.567619
2025-12-04,15.780000,15.780000,16.629999,15.680000,16.230000,0,19.414286
2025-12-05,15.410000,15.410000,16.180000,15.280000,15.580000,0,19.290476
2025-12-08,16.660000,16.660000,17.090000,16.100000,16.150000,0,19.159000

In [37]:
vix_df_filt = vix_df[vix_df.Close > 1.5 * vix_df.MA]

In [38]:
vix_df_filt

Price,Adj Close,Close,High,Low,Open,Volume,MA
Date,,,,,,,
1990-08-06,35.910000,35.910000,35.910000,35.910000,35.910000,0,20.330476
1990-08-07,32.750000,32.750000,32.750000,32.750000,32.750000,0,20.895000
1994-04-04,23.870001,23.870001,28.299999,23.610001,23.610001,0,15.487000
1997-10-30,38.200001,38.200001,38.560001,35.840000,36.709999,0,23.360909
2001-09-17,41.759998,41.759998,44.330002,39.770000,43.200001,0,25.810625
...,...,...,...,...,...,...,...
2024-12-19,24.090000,24.090000,24.120001,20.160000,21.610001,0,15.425238
2025-04-04,45.310001,45.310001,45.610001,29.990000,30.120001,0,23.139091
2025-04-07,46.980000,46.980000,60.130001,38.580002,60.130001,0,24.180953
2025-04-08,52.330002,52.330002,57.520000,36.480000,44.040001,0,25.460455
2025-04-10,40.720001,40.720001,54.869999,34.439999,34.439999,0,26.349546

In [39]:
series = pd.Series(vix_df_filt.index).diff() / np.timedelta64(1, "D") >= 30

In [40]:
series[0] = True

In [41]:
signals = vix_df_filt[series.values]

In [42]:
signals.shape

(24, 7)

In [43]:
signals

Price,Adj Close,Close,High,Low,Open,Volume,MA
Date,,,,,,,
1990-08-06,35.910000,35.910000,35.910000,35.910000,35.910000,0,20.330476
1994-04-04,23.870001,23.870001,28.299999,23.610001,23.610001,0,15.487000
1997-10-30,38.200001,38.200001,38.560001,35.840000,36.709999,0,23.360909
2001-09-17,41.759998,41.759998,44.330002,39.770000,43.200001,0,25.810625
2007-02-27,18.309999,18.309999,19.010000,12.100000,12.120000,0,10.921905
2008-09-17,36.220001,36.220001,36.400002,30.250000,31.959999,0,23.478095
2010-05-06,32.799999,32.799999,40.709999,24.430000,25.879999,0,18.951364
2011-08-04,31.660000,31.660000,32.070000,24.309999,24.570000,0,20.732273
2014-10-13,24.639999,24.639999,24.639999,20.520000,21.160000,0,15.625714
2014-12-16,23.570000,23.570000,25.200001,19.600000,23.549999,0,15.027619
2015-08-21,28.030001,28.030001,28.379999,20.799999,22.549999,0,14.204545
2016-06-24,25.760000,25.760000,26.240000,19.480000,26.059999,0,16.995714
2017-08-10,16.040001,16.040001,16.170000,11.560000,11.570000,0,10.279545
2018-02-05,37.320000,37.320000,38.799999,16.799999,18.440001,0,13.152500
2018-10-10,22.959999,22.959999,22.959999,15.830000,16.030001,0,13.356364
2018-12-24,36.070000,36.070000,36.099998,29.160000,29.290001,0,22.662500
2019-08-05,24.590000,24.590000,24.809999,19.910000,19.959999,0,14.283810
2020-02-24,25.030001,25.030001,26.350000,22.000000,22.250000,0,16.175000
2021-01-27,37.209999,37.209999,37.209999,23.709999,23.820000,0,23.929500
2021-11-26,28.620001,28.620001,28.990000,23.879999,26.620001,0,17.673810
2022-01-25,31.160000,31.160000,35.849998,29.129999,32.290001,0,20.733333
2024-08-02,23.389999,23.389999,29.660000,20.010000,20.520000,0,15.427619
2024-12-18,27.620001,27.620001,28.320000,14.820000,15.570000,0,15.056667
2025-04-04,45.310001,45.310001,45.610001,29.990000,30.120001,0,23.139091

In [44]:
sp_df = yf.download("^GSPC", start="1990-01-01", auto_adjust=False)
sp_df = sp_df.xs("^GSPC", axis=1, level='Ticker')

[*********************100%***********************]  1 of 1 completed

In [45]:
sp_df

Price,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
1990-01-02,359.690002,359.690002,359.690002,351.980011,353.399994,162070000
1990-01-03,358.760010,358.760010,360.589996,357.890015,359.690002,192330000
1990-01-04,355.670013,355.670013,358.760010,352.890015,358.760010,177000000
1990-01-05,352.200012,352.200012,355.670013,351.350006,355.670013,158530000
1990-01-08,353.790009,353.790009,354.239990,350.540009,352.200012,140110000
...,...,...,...,...,...,...
2025-12-02,6829.370117,6829.370117,6851.549805,6806.709961,6830.959961,4582290000
2025-12-03,6849.720215,6849.720215,6862.419922,6810.430176,6815.290039,4736780000
2025-12-04,6857.120117,6857.120117,6866.470215,6827.120117,6866.470215,4872440000
2025-12-05,6870.399902,6870.399902,6895.779785,6858.290039,6866.319824,4944560000
2025-12-08,6846.509766,6846.509766,6878.270020,6827.189941,6875.200195,3191290000

In [48]:
test_ = sp_df[(sp_df.index >= signals.index[0]) & (sp_df.index <=signals.index[0] + DateOffset(months=6))]

In [51]:
(test_.Close.pct_change() + 1).cumprod()

Date
1990-08-06         NaN
1990-08-07    1.001196
1990-08-08    1.011721
1990-08-09    1.016476
1990-08-10    1.003259
                ...
1991-01-31    1.028407
1991-02-01    1.025775
1991-02-04    1.041593
1991-02-05    1.050324
1991-02-06    1.070687
Name: Close, Length: 129, dtype: float64

In [52]:
returns = []

for i in range(len(signals)):
    subdf = sp_df[(sp_df.index >= signals.index[i]) & (sp_df.index <=signals.index[i] + DateOffset(months=6))]
    returns.append((subdf.Close.pct_change() + 1).prod())

In [55]:
pd.Series(returns).plot(kind="bar")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.